[Unit]
Description=Smallstep CA
Documentation=man:step-ca(8)
After=network.target

[Service]
User=step
ExecStart=/usr/bin/step-ca /var/lib/step/.step/config/ca.json --password-file /var/lib/step/.password

[Install]
WantedBy=multi-user.target
